.App {
  text-align: center;
  background-color: no-repeat
    url('https://static.wixstatic.com/media/d9657b20f1b9473f90815b9da211bb2a.jpg/v1/fit/w_924,h_520/d9657b20f1b9473f90815b9da211bb2a.jpg')
    50% / cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  display: block;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  font-family: roboto;
  background-color: #666666;
  overflow: hidden;
}
.big_blob {
  position: static;
  margin: 0rem 0vw 0vw;
  display: flex;
  align-items: start;
  opacity: 1;
  width: 40vw;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  backdrop-filter: blur;
}
.left {
  display: flex;
  align-items: start;
  margin-left: 5vw;
}
.title {
  position: relative;
  font-family: roboto;
  color: #fff;
  font-size: 6rem;
  margin-top: 0vh;
  margin-left: 0px;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  display: block;
}

.shadow {
  box-shadow: 4.24px 4.24px 12px 24px black;
  margin: 0vh 0vw 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  justify-items: stretch;
  justify-content: space-evenly;
  align-content: space-around;
  align-self: center;
  position: relative;
}
.big_text {
  position: absolute;
  text-align: start;
  color: #fff;
  display: block;
  margin: 0vh 0vw;
  font-size: 5rem;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  z-index: 9999;
}
.info_block {
  display: flex;
  width: 40vw;
  margin: 0vh 0vw;
  position: absolute;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3rem;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  backdrop-filter: blur;
  justify-items: center;
  align-items: center;
  flex-direction: row;
  grid-column-start: span;
  grid-column-end: span;
  align-content: center;
  justify-content: center;
}

.bg-container {
  background-color: #007dae;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
  width: 100vw;
  height: 100vh;
  display: block;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  justify-items: start;
  align-content: start;
  overflow-x: hidden;
  overflow-y: scroll;
}
.info_block_container {
  margin: 2rem 0rem 0rem;
  max-height: 100%;
  max-width: 100%;
  align-self: start;
  font-size: 1.5rem;
  padding: 0vh;
  position: absolute;
  width: 90%;
  display: flex;
  flex-direction: column;
  height: 90%;
  align-content: space-evenly;
  align-items: stretch;
  justify-items: center;
}
.small-image {
  // width: 60%;
  margin-left: 2vw;
  border-radius: 20px;
  height: 20vh;
}
.overview-section {
  display: flex;
  margin: 3vh 0vh 0vh;
  align-items: center;
}

.menu_toggle {
  padding: 0rem;
  margin: 0rem;
  z-index: 9999;
  cursor: pointer;
  transition: all 0.3s;
}
.menu_toggle:hover {
  color: rgb(26, 138, 182);
}
.loading-text {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}
.main_blob {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  width: 50vw;
  height: 100vh;
  flex-shrink: 5;
}
.side_blob {
  width: 50vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}
.blob {
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}
.article_blob {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0vh 0vw 0vw;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}
.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: wrap;
  overflow-y: hidden;
  position: relative;
  justify-content: center;
  gap: 0em;
  align-self: baseline;
  align-content: center;
  justify-items: stretch;
}
.article_bg {
  background-color: rgba(255, 255, 255, 0.5);
  width: 85%;
  height: 85%;
  border-radius: 30px;
}
